@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Spartan:wght@700&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #D1D1F6;
  height: 44px;
  font-weight: bold;
}

.banner h5 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  text-align: center;
  padding: 14px;
}

nav {
  max-height: 56px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 17px 0;
  width: 100%;
  height: 56px;
  text-align: center;
}

nav ul li {
  display: inline;
  width: 70px;
}

nav ul li a {
  text-decoration: none;
  height: 100%;
  font-weight: bold;
  margin: 0px 70px;
  color: #867FA6;
}

header, .about, .categories, .favorites {
  margin-top: 48px;
  width: 1000px;
  margin: 48px auto;
  text-align: center;
}