@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Spartan:wght@700&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #D1D1F6;
  height: 44px;
  font-weight: bold;
}

.banner h5 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  text-align: center;
  padding: 14px;
}

nav {
  max-height: 56px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 17px 0;
  width: 100%;
  height: 56px;
  text-align: center;
}

nav ul li {
  display: inline;
  width: 70px;
}

nav ul li a {
  text-decoration: none;
  height: 100%;
  font-weight: bold;
  margin: 0px 70px;
  color: #867FA6;
}

header, .about, .categories, .favorites {
  margin-top: 48px;
  width: 1000px;
  margin: 48px auto;
  text-align: center;
}

header {
  position: relative;
  z-index: 1;
}

header img {
  width: 753px;
  height: 191px;
}

.characters img {
  max-width: 118px;
  max-height: 140px;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
}

.characters img.phoebe {
  transform: rotate(13.55deg);
}

.characters img.joey {
  transform: rotate(-2.37deg);
}

.characters img.rachel {
  transform: rotate(13.36deg);
}

.characters img.ross {
  transform: rotate(1.02deg);
}

.characters img.monica {
  transform: rotate(-7.42deg);
}

.characters img.chandler {
  transform: rotate(5.07deg);
}

.title-wrapper {
  width: 100%;
  background-color: #DDC561;
  height: 270px;
  position: absolute;
  top: 420px;
}

.title-wrapper .title {
  background: url(images/title.png) no-repeat;
  width: 743px;
  height: 32px;
  margin: 0 auto;
  position: relative;
  top: 50%;
}

.title-wrapper .subtitle {
  background: url(images/subtitle.png) no-repeat;
  width: 200px;
  height: 20px;
  margin-top: 16px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: 16px;
}

.menu-title {
  color: #877DAF;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about, .categories {
  margin-top: 250px;
  text-align: left;
}


.about .content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}

.categories {
  margin-top: 40px;
  text-align: left;
}

.categories ul {
  list-style: none;
  columns: 3;
  padding: 0;
  text-align: center;
}

.categories .circle {
  background-color: rgba(135,125,175,0.5);
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 100%;
  padding: 16px 12px 0px;
  margin-top: 30px;
}

.circle p {
  margin-top: 5px;
  color: #fff;
}